<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricardo Tlatelpa</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing-page">
        <div class="shadow-wrap">
        <div class="landing-page__description">

    <header class = "header row">
        <p class = "header__title">Ricardo Tlatelpa</p>
        <ul class="header__nav">
            <li > <a class="nav__item"  href="#">Resume</a> </li>
            <li > <a class="nav__item"  href="#portfolio">Portfolio</a></li>
            <li><a  class="nav__item" href="#about">About</a></li>
            <li > <a class="nav__item" href="#contact">Contact</a></li>            
        </ul>        
    </header>

        <div class="parallax row landing-page__intro ">
        <h1 class = "title--huge u-margin-b-small">I'm a <span class = "highlight">Software Engineer </span><br/>based in NYC.</h1>
        <a href="mailto:rtlatelpa4@gmail.com">
        <div class="btn btn--gradient btn--animate-1 btn--fadein">
        Get in touch
        </div>
    </a>
    </div>
</div>
</div>
    <div id="particles-js" class="particle-container">
        <h1>Ricardo Tlatelpa</h1>
    </div>
    <div class="rotated-email row">                
        <a class = "rotated-email__link u-margin-b-small" href="https://github.com/RicardoTlatelpa">
        <img  src="/logo.svg" alt="github logo">
        </a>
        <a class = "rotated-email__link u-margin-b-small" href="https://www.linkedin.com/in/ricardo-tlatelpa-971b2a179">
        <img  src="/linkedin.svg" alt="linkedin logo">
    </a>
        <a  href="mailto:rtlatelpa4@gmail.com">
            <p>@rtlatelpa@gmail.com</p>
        </a>
    </div>
</div>


<section class="portfolio">    

    <div id = "portfolio" class="section-header row">
        <h1>01.Portfolio</h1>
    </div>

    <div class="project row grid-container even-spacing">
        <div class="col-4">            
        <img class= "project__content"  src="/node-todo.png" alt="node-todo-img">        
        </div>
        <div class="project-info col-8 card">
            <div class="card--right">
                <p class = "card__feature">Featured Project</p>
                <h1 class = "title--project u-margin-t-small">Node-Todo</h1>           
                    <p class = "project__description ">A fast and friendly Todo-list that helps users priotize their daily tasks.</p>  
                <p class = "project__tags u-margin-t-small">ReactJs, Nodejs, Expressjs, Google oAuth, PassportJs, MongoDB</p>
                <div class="card__links card__links--1">
                    <a href="#">
                        <img class = "card-item" src="/logo.svg" alt="github">
                    </a>
                    <a href="#">
                        <img src="/out.svg" alt="Site link" class="card-item">
                    </a>
                </div>        
            </div>
        </div>
    </div>

    <div class="project row grid-container even-spacing">            
        <div class="project-info--2 col-4--2 card">            
            <p class = "card__feature">Featured Project</p>
            <h1 class = "title--project u-margin-t-small">Emaily</h1>           
                <p class = "project__description ">Taking advantage of the Stripe/Sendgrid/Google Oauth APIs, with a react/redux front end. Users can reach their emailing list and get feedback from their users.</p>  
            <p class = "project__tags u-margin-t-small">ReactJs, Redux/Redux Form, Nodejs, Expressjs, Google oAuth, PassportJs, Stripe API,Sendgrid API, MongoDB</p>
            <div class="card__links">
                <a href="#">
                    <img class = "card-item" src="/logo.svg" alt="github">
                </a>
                <a href="#">
                    <img src="/out.svg" alt="Site link" class="card-item">
                </a>
            </div>        
        </div>

            <div class="col-8--2">            
                <img class= "project__content project__content--2"  src="/Emaily.png" alt="emaily img">        
            </div>

    </div>

    <div class="project row grid-container even-spacing">
        <div class="col-4">            
        <img class= "project__content"  src="/Couple-movies.png" alt="emaily img">        
    </div>
    
        <div class="project-info col-8 card">
            <div class="card--right">
                <p class = "card__feature">Featured Project</p>
                <h1 class = "title--project u-margin-t-small">Couple-Movies</h1>           
                    <p class = "project__description">A user-friendly movie-searching dashboard to just browse a couple movies.</p>  
                <p class = "project__tags u-margin-t-small">ReactJs</p>
                <div class="card__links card__links--1">
                    <a href="#">
                        <img class = "card-item" src="/logo.svg" alt="github">
                    </a>
                    <a href="#">
                        <img src="/out.svg" alt="Site link" class="card-item">
                    </a>
                </div>        
            </div>
        </div>

    </div>

    <!-- <div class="center">
        <div class="btn btn--shadow btn--animate u-margin-t-medium">
            More projects
        </div>        
    </div>
    -->

    <section id = "about" class="about row">
        <div class="section-header">
            <h1>02.AB0̸UT</h1>
        </div>
        <div class="about__container grid-container">
            <div class="about__image col-stretch-5">
                <img src="/headshot.png" alt="headshot of me">
                <div class="about__image-frame">

                </div>
            </div>
            <div class="about__description col-stretch-6">
               <span class="about__description--title">Hi,</span><br/>
               <p class = "about__paragraph">
                My name is Ricardo Tlatelpa and I am a passionate Web Designer/ Web Developer. Not only have I involved myself in the intricacies of Front End Development, but I have also explored back end development with languages such as PHP and Nodejs. I also have implemented database queries with MongoDB and MySQL. I currently work for the CUNY Research Foundation and help developers design/architect future projects and manage CMS systems; specifically Drupal 8 and Wordpress. I love programming and I especially love architecting and building front-end or full-stack projects. 
            </p>
                <h1 class="about__description--title u-margin-t-medium">
                    Skills
                </h1>
                <ul class="about__description__list u-margin-t-small">
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">HTML/CSS </li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Webpack</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Sass</li>                                                                               
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Drupal 8</li>                    
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">PHP</li> 
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">NodeJs/ExpressJs</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">ReactJs/Redux</li>                     
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">MongoDB</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Wordpress</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">GulpJs</li>
                                                   
                </ul>
            </div>
        </div>
    </section>
    
    <section id = "contact" class="contact-form row ">
        
        <div class = "grid-container">
        <div class="col-center">
            <div class="contact-form__container">
            <h1 class = "title u-margin-b-medium center">Let's get in touch</h1>
            <a href="mailto:rtlatelpa4@gmail.com">
            <div class = "btn btn--shadow btn--animate flex-center">                
                <div class="flex-center">Send Message</div>            
            </div>
        </a>
            </div>
        </div>
        </div>
    </section>
    
</section>

<section class="footer">
    <h1 class = "title--footer ">Designed and built by Ricardo Tlatelpa</h1>
    <a href="https://github.com/RicardoTlatelpa">
    <img class = "footer__logo" src="/logo.svg" alt="github logo">
    </a>
    <a href="https://www.linkedin.com/in/ricardo-tlatelpa-971b2a179">        
    <img class = "footer__logo" src="/linkedin.svg" alt="linkedin logo">
    </a>
</section>
<script>
    window.addEventListener('scroll', function(){
        const parallax = document.querySelector('.parallax');
        let scrollPosition = window.pageYOffset;
        parallax.style.transform = `translate3d(0px,${scrollPosition * 0.3}px,0px)`       
    })
</script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src = "/particles.js"></script>

</body>
</html>