<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricardo Tlatelpa</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing-page">
        <div class="shadow-wrap">
        <div class="landing-page__description">
    <header class = "header row">
        <p class = "header__title">Ricardo Tlatelpa</p>
        <ul class="header__nav">
            <li > <a class="nav__item"  href="#">Resume</a> </li>
            <li > <a class="nav__item"  href="#">Portfolio</a></li>
            <li > <a class="nav__item" href="#">Contact</a></li>
        </ul>
    </header>
        <div class="row landing-page__intro ">
        <h1 class = "title--huge u-margin-b-small">I'm a <span class = "highlight">Web Developer </span><br/>based in NYC.</h1>
        <div class="btn btn--gradient btn--animate-1">
        Get in touch
        </div>
    </div>
</div>
</div>
    <div id="particles-js" class="particle-container">
<h1>Ricardo Tlatelpa</h1>
    </div>
</div>


<section class="portfolio">
    <div class="portfolio__header row">
        <h1 class = "title--box u-margin-b-medium">Portfolio</h1>
    </div>

    <div class="project row grid-container even-spacing">

        <div class="project-title col-4 ">
            <p>Featured Project</p>
            <h1 class = "title--project">Node-Todo</h1>
            <div class="project__links">
            <a href="https://github.com/RicardoTlatelpa/node-todo">
                <img  src="/logo.svg" alt="github logo">
                </a>
                <a href="#">Site</a>
            </div>
        </div>

        <div class="project-info col-8">
            
            <p class = "project__description">A Full-Stack Application, with a React front-end, and an Express Js/ MongoDB backend. </p>  
            <div class="project__content u-margin-t-small">
                <img src="/node-todo.png" alt="node-todo-img">
                <div class="layer"></div>
            </div>
            
        </div>

    </div>

    <div class="project row grid-container even-spacing">

        <div class="project-title col-4">
            <p>Featured Project</p>
            <h1 class = "title--project">Emaily</h1>
            <div class="project__links">
                <a href="#">Site</a>
            </div>
        </div>

        <div class="project-info col-8">
            <p class = "project__description">Taking advantage of the Stripe/Sendgrid/Google Oauth APIs, with a react/redux front end. </p>  
            <div class="project__content u-margin-t-small">
                <img src="/Emaily.png" alt="emaily-img">
                <div class="layer"></div>
            </div>
        </div>

    </div>



    <div class="project row grid-container">

        <div class="project-title col-4">
            <p>Featured Project</p>
            <h1 class = "title--project">Couple-Movies</h1>
            <div class="project__links">
            <a href="https://github.com/RicardoTlatelpa/couple-movies/">
                <img  src="/logo.svg" alt="github logo">
                </a>
                <a href="#">Site</a>
            </div>
        </div>

        <div class="project-info col-8">
            <p class = "project__description">React Components with MovieDB API interaction. </p>  
            <div class="project__content u-margin-t-small">
                <img src="/Couple-movies.png" alt="couple-movies img">
                <div class="layer"></div>
            </div>
        </div>

    </div>
    <div class="center ">
 <div class="btn btn--shadow btn--animate u-margin-t-medium">
            More
        </div>        
    </div>
    <section class="contact-form row grid-container">
        <div class="col-center">
            <h1 class = "title u-margin-b-medium center">Let's get in touch</h1>
        <form class = "contact-form__container" action="POST">
            <label for="full-name">
                Full Name 
            </label>
            <input class = "contact-form__input"type="text" name="first-name" id="full-name">
            <label for="email">Email</label>
             <input class = "contact-form__input" type="text" name="last-name" id="email">
            <label for="message">Message</label>            
             <input class = "contact-form__input contact-form__input--message" type="text" name="message" id="message">
            <button class = "btn btn--shadow btn--animate u-margin-t-medium">Send Message</button>
        </form>
    </div>
    </section>
</section>
<section class="footer ">

    <h1 class = "title--footer ">Designed and built by Ricardo Tlatelpa</h1>
    <a href="https://github.com/RicardoTlatelpa">
    <img class = "footer__logo" src="/logo.svg" alt="github logo">
    </a>
    <a href="https://www.linkedin.com/in/ricardo-tlatelpa-971b2a179">
    <img class = "footer__logo" src="/linkedin.svg" alt="linkedin logo">
    </a>
</section>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src = "/particles.js"></script>
<script src = "/animation.js"></script>
</body>
</html>