<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricardo Tlatelpa</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class = "header">
        <div class="header__container row">
            <a class = "header__title" href="#">
        <p>Ricardo Tlatelpa</p>
    </a>
        <ul class="header__nav">            
            <li > <a class="nav__item"  href="#portfolio">Portfolio</a></li>
            <li><a  class="nav__item" href="#about">About</a></li>
            <li > <a class="nav__item" href="#contact">Contact</a></li>            
            <li > <a class="nav__item"  href="#">Resume</a> </li>
        </ul>        
    </div>
    </header>
    <div class="rotated-email row">                
        <a class = "rotated-email__link u-margin-b-small" href="https://github.com/RicardoTlatelpa">
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
                <path id="logo" d="M12,.5A11.9,11.9,0,0,0,0,12.292,11.812,11.812,0,0,0,8.2,23.48c.6.111.82-.254.82-.567,0-.28-.01-1.022-.015-2-3.338.711-4.042-1.582-4.042-1.582A3.143,3.143,0,0,0,3.633,17.6c-1.087-.731.084-.716.084-.716A2.51,2.51,0,0,1,5.555,18.1a2.584,2.584,0,0,0,3.495.981A2.5,2.5,0,0,1,9.81,17.5c-2.665-.3-5.466-1.309-5.466-5.827A4.505,4.505,0,0,1,5.579,8.513a4.126,4.126,0,0,1,.105-3.121s1.005-.316,3.3,1.209a11.506,11.506,0,0,1,6,0c2.28-1.525,3.285-1.209,3.285-1.209a4.24,4.24,0,0,1,.12,3.121,4.523,4.523,0,0,1,1.23,3.164c0,4.53-2.805,5.527-5.475,5.817a2.8,2.8,0,0,1,.81,2.182c0,1.578-.015,2.846-.015,3.229,0,.309.21.678.825.56A11.776,11.776,0,0,0,24,12.292,11.9,11.9,0,0,0,12,.5Z" transform="translate(0 -0.5)" fill="#fff"/>
              </svg>              
        </a>
        <a class = "rotated-email__link u-margin-b-small" href="https://www.linkedin.com/in/ricardo-tlatelpa-971b2a179">
            <svg id="linkedin" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_10" data-name="Path 10" d="M23.994,24H24V15.2c0-4.306-.927-7.623-5.961-7.623a5.226,5.226,0,0,0-4.707,2.587h-.07V7.976H8.489V24h4.97V16.065c0-2.089.4-4.109,2.983-4.109,2.549,0,2.587,2.384,2.587,4.243V24Z" fill="#fff"/>
                <path id="Path_11" data-name="Path 11" d="M.4,7.977H5.372V24H.4Z" fill="#fff"/>
                <path id="Path_12" data-name="Path 12" d="M2.882,0A2.9,2.9,0,1,0,5.764,2.882,2.883,2.883,0,0,0,2.882,0Z" fill="#fff"/>
              </svg>              
         </a>
         
        <a class = "rotated-email__email" href="mailto:rtlatelpa4@gmail.com">
            @rtlatelpa@gmail.com
        </a>
    
    </div>

    <div class="landing-page">
        <div class="shadow-wrap">
        <div class="landing-page__description">


        <div class="parallax row landing-page__intro ">
        <h1 class = "title--huge u-margin-b-small">I'm a <span class = "highlight">Software Engineer </span><br/>based in NYC.</h1>
        <a href="mailto:rtlatelpa4@gmail.com">
        <div class="btn btn--gradient btn--animate-1">
        Get in touch
        </div>
    </a>
    </div>
</div>
</div>
    <div id="particles-js" class="particle-container">
        <h1>Ricardo Tlatelpa</h1>
    </div>

    

</div>



<section class="portfolio">    

    <div id = "portfolio" class="section-header row">
        <h1>01.Portfolio</h1>
    </div>

    <div class="project row grid-container even-spacing">
        <div class="col-4">            
        <img class= "project__content"  src="/node-todo.png" alt="node-todo-img">        
        </div>
        <div class="project-info col-8 card">
            <div class="card--right">
                <p class = "card__feature">Featured Project</p>
                <h1 class = "title--project u-margin-t-small">Node-Todo</h1>           
                    <p class = "project__description ">A fast and friendly Todo-list that helps users priotize their daily tasks.</p>  
                <p class = "project__tags u-margin-t-small">ReactJs, Nodejs, Expressjs, Google oAuth, PassportJs, MongoDB</p>
                <div class="card__links card__links--1">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
                            <path class = "svg-icon--dark" id="logo" d="M12,.5A11.9,11.9,0,0,0,0,12.292,11.812,11.812,0,0,0,8.2,23.48c.6.111.82-.254.82-.567,0-.28-.01-1.022-.015-2-3.338.711-4.042-1.582-4.042-1.582A3.143,3.143,0,0,0,3.633,17.6c-1.087-.731.084-.716.084-.716A2.51,2.51,0,0,1,5.555,18.1a2.584,2.584,0,0,0,3.495.981A2.5,2.5,0,0,1,9.81,17.5c-2.665-.3-5.466-1.309-5.466-5.827A4.505,4.505,0,0,1,5.579,8.513a4.126,4.126,0,0,1,.105-3.121s1.005-.316,3.3,1.209a11.506,11.506,0,0,1,6,0c2.28-1.525,3.285-1.209,3.285-1.209a4.24,4.24,0,0,1,.12,3.121,4.523,4.523,0,0,1,1.23,3.164c0,4.53-2.805,5.527-5.475,5.817a2.8,2.8,0,0,1,.81,2.182c0,1.578-.015,2.846-.015,3.229,0,.309.21.678.825.56A11.776,11.776,0,0,0,24,12.292,11.9,11.9,0,0,0,12,.5Z" transform="translate(0 -0.5)" fill="#fff"/>
                          </svg>                          
                    </a>
                    <a href="#">
                        <img src="/out.svg" alt="Site link" class="card-item">
                    </a>
                </div>        
            </div>
        </div>
    </div>

    <div class="project row grid-container even-spacing">            
        <div class="project-info--2 col-4--2 card">            
            <p class = "card__feature">Featured Project</p>
            <h1 class = "title--project u-margin-t-small">Emaily</h1>           
                <p class = "project__description ">Taking advantage of the Stripe/Sendgrid/Google Oauth APIs, with a react/redux front end. Users can reach their emailing list and get feedback from their users.</p>  
            <p class = "project__tags u-margin-t-small">ReactJs, Redux/Redux Form, Nodejs, Expressjs, Google oAuth, PassportJs, Stripe API,Sendgrid API, MongoDB</p>
            <div class="card__links">
                <a href="#">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
                        <path class = "svg-icon--dark" id="logo" d="M12,.5A11.9,11.9,0,0,0,0,12.292,11.812,11.812,0,0,0,8.2,23.48c.6.111.82-.254.82-.567,0-.28-.01-1.022-.015-2-3.338.711-4.042-1.582-4.042-1.582A3.143,3.143,0,0,0,3.633,17.6c-1.087-.731.084-.716.084-.716A2.51,2.51,0,0,1,5.555,18.1a2.584,2.584,0,0,0,3.495.981A2.5,2.5,0,0,1,9.81,17.5c-2.665-.3-5.466-1.309-5.466-5.827A4.505,4.505,0,0,1,5.579,8.513a4.126,4.126,0,0,1,.105-3.121s1.005-.316,3.3,1.209a11.506,11.506,0,0,1,6,0c2.28-1.525,3.285-1.209,3.285-1.209a4.24,4.24,0,0,1,.12,3.121,4.523,4.523,0,0,1,1.23,3.164c0,4.53-2.805,5.527-5.475,5.817a2.8,2.8,0,0,1,.81,2.182c0,1.578-.015,2.846-.015,3.229,0,.309.21.678.825.56A11.776,11.776,0,0,0,24,12.292,11.9,11.9,0,0,0,12,.5Z" transform="translate(0 -0.5)" fill="#fff"/>
                      </svg>                      
                </a>
                <a href="#">
                    <img src="/out.svg" alt="Site link" class="card-item">
                </a>
            </div>        
        </div>

            <div class="col-8--2">            
                <img class= "project__content project__content--2"  src="/Emaily.png" alt="emaily img">        
            </div>

    </div>

    <div class="project row grid-container even-spacing">
        <div class="col-4">            
        <img class= "project__content"  src="/Couple-movies.png" alt="emaily img">        
    </div>
    
        <div class="project-info col-8 card">
            <div class="card--right">
                <p class = "card__feature">Featured Project</p>
                <h1 class = "title--project u-margin-t-small">Couple-Movies</h1>           
                    <p class = "project__description">A user-friendly movie-searching dashboard to just browse a couple movies.</p>  
                <p class = "project__tags u-margin-t-small">ReactJs</p>
                <div class="card__links card__links--1">
                    <a href="#">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
                            <path class = "svg-icon--dark" id="logo" d="M12,.5A11.9,11.9,0,0,0,0,12.292,11.812,11.812,0,0,0,8.2,23.48c.6.111.82-.254.82-.567,0-.28-.01-1.022-.015-2-3.338.711-4.042-1.582-4.042-1.582A3.143,3.143,0,0,0,3.633,17.6c-1.087-.731.084-.716.084-.716A2.51,2.51,0,0,1,5.555,18.1a2.584,2.584,0,0,0,3.495.981A2.5,2.5,0,0,1,9.81,17.5c-2.665-.3-5.466-1.309-5.466-5.827A4.505,4.505,0,0,1,5.579,8.513a4.126,4.126,0,0,1,.105-3.121s1.005-.316,3.3,1.209a11.506,11.506,0,0,1,6,0c2.28-1.525,3.285-1.209,3.285-1.209a4.24,4.24,0,0,1,.12,3.121,4.523,4.523,0,0,1,1.23,3.164c0,4.53-2.805,5.527-5.475,5.817a2.8,2.8,0,0,1,.81,2.182c0,1.578-.015,2.846-.015,3.229,0,.309.21.678.825.56A11.776,11.776,0,0,0,24,12.292,11.9,11.9,0,0,0,12,.5Z" transform="translate(0 -0.5)" fill="#fff"/>
                          </svg>                          
                    </a>
                    <a href="#">
                        <img src="/out.svg" alt="Site link" class="card-item">
                    </a>
                </div>        
            </div>
        </div>

    </div>

    <!-- <div class="center">
        <div class="btn btn--shadow btn--animate u-margin-t-medium">
            More projects
        </div>        
    </div>
    -->

    <section id = "about" class="about row">
        <div class="section-header">
            <h1>02.AB0̸UT</h1>
        </div>
        <div class="about__container grid-container">
            <div class="about__image col-stretch-5">
                <img src="/headshot.png" alt="headshot of me">
                <div class="about__image-frame">

                </div>
            </div>
            <div class="about__description col-stretch-6">
               <span class="about__description--title">Hi,</span><br/>
               <p class = "about__paragraph">
                My name is Ricardo Tlatelpa and I am a passionate Web Designer/ Web Developer. Not only have I involved myself in the intricacies of Front End Development, but I have also explored back end development with languages such as PHP and Nodejs. I also have implemented database queries with MongoDB and MySQL. I currently work for the CUNY Research Foundation and help developers design/architect future projects and manage CMS systems; specifically Drupal 8 and Wordpress. I love programming and I especially love architecting and building front-end or full-stack projects. 
            </p>
                <h1 class="about__description--title u-margin-t-medium">
                    Skills
                </h1>
                <ul class="about__description__list u-margin-t-small">
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">HTML/CSS </li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Webpack</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Sass</li>                                                                               
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Drupal 8</li>                    
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">PHP</li> 
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">NodeJs/ExpressJs</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">ReactJs/Redux</li>                     
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">MongoDB</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">Wordpress</li>
                    <li class="skill-item"><img src="/arrow.svg" alt="arrow icon" class="skill-item__icon">GulpJs</li>
                                                   
                </ul>
            </div>
        </div>
    </section>
    
    <section id = "contact" class="contact-form row ">
        
        <div class = "grid-container">
        <div class="col-center">
            <div class="contact-form__container">
            <h1 class = "title u-margin-b-medium center">Let's get in touch</h1>
            <a href="mailto:rtlatelpa4@gmail.com">
            <div class = "btn btn--shadow btn--animate flex-center">                
                <div class="flex-center">Send Message</div>            
            </div>
        </a>
            </div>
        </div>
        </div>
    </section>
    
</section>

<section class="footer">
    <h1 class = "title--footer ">Designed and built by Ricardo Tlatelpa</h1>
    <a href="https://github.com/RicardoTlatelpa">
    <img class = "footer__logo" src="/logo.svg" alt="github logo">
    </a>
    <a href="https://www.linkedin.com/in/ricardo-tlatelpa-971b2a179">        
    <img class = "footer__logo" src="/linkedin.svg" alt="linkedin logo">
    </a>
</section>
<script>
    window.addEventListener('scroll', function(){
        const parallax = document.querySelector('.parallax');
        let scrollPosition = window.pageYOffset;
        parallax.style.transform = `translate3d(0px,${scrollPosition * 0.3}px,0px)`       
    })
</script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src = "/particles.js"></script>

</body>
</html>