* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

.u-margin-b-small {
  margin-bottom: 1rem !important; }

.u-margin-b-medium {
  margin-bottom: 3rem !important; }

.u-margin-t-small {
  margin-top: .5rem !important; }

.u-margin-t-medium {
  margin-top: 2rem !important; }

.u-margin-t-large {
  margin-top: 6rem !important; }

.even-spacing {
  padding-bottom: 7rem !important; }

.center {
  text-align: center; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.title {
  color: #FFFF;
  font-size: 2.3rem; }
  .title--huge {
    font-size: 3rem; }
    @media (max-width: 56.25em) {
      .title--huge {
        font-size: 2.3rem; } }
    @media (max-width: 37.5rem) {
      .title--huge {
        font-size: 1.7rem; } }
  .title--box {
    display: inline-block;
    font-size: 2.3rem;
    color: #FFFF;
    padding: .5rem 2rem;
    border: 1px dashed #FFFF; }
  .title--project {
    font-size: 1.6rem; }
  .title--footer {
    font-size: 0.8rem;
    color: #FFFF; }

.section-header {
  text-align: left;
  font-size: 70px;
  color: #20b4fe;
  transform: translateY(20%); }
  @media (max-width: 75em) {
    .section-header {
      font-size: 50px; } }
  @media (max-width: 37.5rem) {
    .section-header {
      font-size: 40px; } }

.row {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 3.75rem; }
  @media (max-width: 56.25em) {
    .row {
      padding: 0 .5rem; } }

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 56.25em) {
    .grid-container {
      grid-template-rows: repeat(2, 1fr); } }

.col-stretch-5 {
  grid-column: 1 / span 5; }
  @media (max-width: 75em) {
    .col-stretch-5 {
      grid-column: 3 / 11; } }
  @media (max-width: 37.5rem) {
    .col-stretch-5 {
      grid-column: 1 / -1; } }

.col-stretch-6 {
  grid-column: 6 / -1; }
  @media (max-width: 75em) {
    .col-stretch-6 {
      grid-row: 2;
      grid-column: 1 / -1; } }

.col-4 {
  grid-column: 2 /span 4;
  z-index: 100000;
  height: 100%; }
  .col-4--2 {
    grid-column: 2/ 9;
    z-index: 100000;
    height: 100%;
    background-color: #FFFF; }
  .col-4--reverse {
    grid-column: 9 / -1;
    height: 100%;
    z-index: 1000;
    transform: translateX(-19%); }
    @media (max-width: 56.25em) {
      .col-4--reverse {
        transform: none;
        grid-column: 1 / -1; } }
  @media (max-width: 56.25em) {
    .col-4 {
      grid-row: 1 / 2;
      grid-column: 1 / -1; } }

.col-8 {
  background-color: #FFFF;
  grid-column: 6 / -1; }
  .col-8--2 {
    grid-column: 9 / -1; }
  .col-8--reverse {
    background-color: #FFFF;
    grid-column: 2 / 9; }
    @media (max-width: 56.25em) {
      .col-8--reverse {
        grid-row: 2;
        grid-column: 2 / 12;
        background-color: transparent; } }
    @media (max-width: 37.5rem) {
      .col-8--reverse {
        grid-column: 1 / -1; } }
  @media (max-width: 56.25em) {
    .col-8 {
      grid-row: 2;
      grid-column: 2 / 12;
      background-color: transparent; } }
  @media (max-width: 37.5rem) {
    .col-8 {
      grid-column: 1 / -1; } }

.col-center {
  grid-column: 5 / 9; }
  @media (max-width: 56.25em) {
    .col-center {
      grid-column: 1 / -1; } }

.header {
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 10000000000000;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background: #FFFF;
  padding: .7rem; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0086DA;
    text-decoration: none; }
    @media (max-width: 37.5rem) {
      .header__title {
        font-size: 1rem; } }
  .header__nav {
    display: flex;
    list-style: none; }
    .header__nav li:not(:last-child) {
      margin-right: 1rem; }
    @media (max-width: 56.25em) {
      .header__nav {
        display: none; } }
    .header__nav--mobile {
      list-style: none;
      display: none; }
      @media (max-width: 56.25em) {
        .header__nav--mobile {
          display: block; } }

.nav__item {
  font-size: 1rem;
  text-decoration: none;
  color: #0086DA;
  font-weight: lighter; }
  .nav__item--mobile {
    color: #FFFF;
    background-color: #0086DA;
    padding: .5rem;
    border-radius: .5rem; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes moveUp {
  0% {
    transform: translateY(400%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.btn {
  display: inline-block;
  padding: .8rem 2rem;
  background-image: linear-gradient(to right, #069EE8 20%, #016ECD);
  border-radius: 100px;
  font-size: 1rem;
  color: white;
  transition: all .2s linear;
  border: none; }
  .btn:hover, .btn:focus {
    cursor: pointer; }
  .btn--shadow {
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.45); }
  .btn--animate-1:hover {
    transform: scale(1.1);
    box-shadow: 1px 5px 5px -1px rgba(0, 0, 0, 0.45); }
  .btn--animate-1:active {
    transform: scale(1.1) translateY(-5px); }
  .btn--animate:hover {
    transform: translateY(10px) scale(0.9);
    box-shadow: 1px 5px 5px -2px rgba(0, 0, 0, 0.45); }
  .btn--animate:active {
    transform: translateY(9px) scale(0.9);
    box-shadow: none; }
  @media (max-width: 37.5rem) {
    .btn {
      font-size: .8rem; } }

.landing-page {
  height: 100vh;
  width: 100%;
  position: relative; }
  .landing-page__intro {
    padding: 0 1rem;
    position: absolute;
    top: 30%;
    right: 45%; }
    @media (max-width: 75em) {
      .landing-page__intro {
        right: 0;
        left: 0;
        top: 0;
        padding: 0;
        position: relative;
        transform: translateY(-60%); } }
  .landing-page__description {
    clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 46% 59%, 0% 100%);
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100; }
    @media (max-width: 75em) {
      .landing-page__description {
        clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 80% 59%, 0% 100%);
        display: flex;
        align-items: center; } }
    @media (max-width: 37.5rem) {
      .landing-page__description {
        clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 71% 59%, 0% 100%); } }

.shadow-wrap {
  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.4)); }

.particle-container {
  background-color: #0086DA;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 10%, 0 100%, 100% 100%, 100% 100%);
  z-index: -1; }

.highlight {
  color: #0086DA; }

.rotated-email {
  position: fixed;
  bottom: 1rem;
  right: 0;
  transform: translateX(20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center; }
  .rotated-email__email {
    color: #FFFF;
    text-decoration: none;
    writing-mode: vertical-rl; }
    .rotated-email__email:hover {
      color: #20b4fe; }
  @media (max-width: 56.25em) {
    .rotated-email {
      display: none; } }

.card {
  color: black;
  border-radius: 10px;
  padding: 4rem 4rem 5rem 4rem; }
  .card__links {
    display: flex;
    align-items: center; }
    .card__links > * {
      margin-right: .5rem; }
    .card__links--1 {
      justify-content: flex-end; }
      .card__links--1 > * {
        margin-right: 0rem;
        margin-left: .5rem; }
    @media (max-width: 56.25em) {
      .card__links--reverse {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
  .card-item {
    width: 25px;
    height: 25px;
    filter: invert(24%) sepia(94%) saturate(2007%) hue-rotate(193deg) brightness(96%) contrast(99%); }
  .card--right {
    text-align: right;
    padding-left: 100px; }
    @media (max-width: 56.25em) {
      .card--right {
        background-color: #FFFF;
        padding: 2rem;
        text-align: left;
        border-radius: 1rem; } }
  .card--left {
    text-align: left;
    padding-right: 100px; }
    @media (max-width: 56.25em) {
      .card--left {
        background-color: #FFFF;
        padding: 2rem;
        border-radius: 1rem; } }
  .card__feature {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    background-image: linear-gradient(to right, #3FBFFD, #016ECD); }
  @media (max-width: 56.25em) {
    .card {
      padding: 0; } }

.portfolio {
  padding-top: 100px;
  background-image: linear-gradient(to bottom, #0086DA, #016ECD);
  width: 100%; }

.project {
  height: 100%; }
  .project__description {
    font-family: 'Rubik', sans-serif;
    color: inherit;
    font-weight: 300;
    font-size: 1rem; }
  .project-title {
    color: #FFFF; }
  .project__links {
    display: flex;
    align-items: center; }
    .project__links a {
      color: #FFFF;
      font-size: 1.1rem; }
  .project__content {
    border-radius: 10px;
    object-fit: cover;
    height: 120%;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3); }
    @media (max-width: 56.25em) {
      .project__content {
        height: 100%;
        width: 55%;
        transform: translate(40%, 5%); } }
    @media (max-width: 37.5rem) {
      .project__content {
        width: 90%;
        transform: translate(5%, 5%); } }
  .project__content--2 {
    transform: translateX(-11%);
    z-index: 100000;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3); }
  .project__tags {
    width: 100%;
    margin-bottom: .2rem !important;
    color: #777;
    font-size: .7rem; }
  .project-info {
    transform: translateX(-11%) translateY(30px); }
    .project-info--reverse {
      transform: translateY(30px); }
      @media (max-width: 56.25em) {
        .project-info--reverse {
          transform: none; } }
    @media (max-width: 56.25em) {
      .project-info {
        transform: none; } }
  .project-info--2 {
    transform: translateY(30px);
    z-index: 0; }

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .1s linear; }
  .layer:hover {
    opacity: 0;
    z-index: 0; }

.svg-icon--dark {
  fill: #016ECD; }

.about__image {
  position: relative;
  z-index: 20; }
  .about__image img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.about__description {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 300;
  color: #FFFF; }
  .about__description--title {
    font-size: 3rem;
    font-weight: bold; }
  .about__description__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    .about__description__list .skill-item {
      display: flex;
      align-items: center;
      list-style: none;
      font-family: 'Hind Madurai', sans-serif;
      font-size: 1.1rem; }
      .about__description__list .skill-item__icon {
        width: 15px;
        height: 15px; }

.about__image-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.4rem solid #fff;
  transform: translateY(-95%) translateX(-5%);
  z-index: -1; }
  @media (max-width: 75em) {
    .about__image-frame {
      display: none; } }

.about__paragraph {
  line-height: 2;
  font-size: 1.1rem;
  font-family: 'Hind Madurai', sans-serif; }

.contact-form {
  padding-top: 150px;
  padding-bottom: 5rem; }
  .contact-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center; }
  .contact-form__input {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 1rem; }
    .contact-form__input--message {
      height: 100px; }

.footer {
  font-family: 'Hind Madurai', sans-serif;
  background-color: #016ECD;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .footer__logo {
    margin: 0 .2rem; }
