.row {
    max-width: 87.5rem;   
    margin: 0 auto; 
    padding: 0 3.75rem;
}
.grid-container { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
}
.col-4 {
    grid-column: 2 /span 3;
}
.col-8 {
    grid-column: 5 / -1;
}
.col-center {
    grid-column: 5 / 9;
}