$color-main-dark: #016ECD;
$color-main-light: #0086DA;
$color-default: #FFFF;
$color-light-blue: #069EE8;
$color-light-blue-1: #20b4fe;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Montserrat', sans-serif;
}
