$color-main-dark: #016ECD;
$color-main-light: #0086DA;
$color-default: #FFFF;
$color-light-blue: #069EE8;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}