.landing-page {
    height: 100vh;
    width: 100%;
    position:relative;        
    &__intro {        
        padding: 0 1rem;
        position: absolute;
        top: 30%;
        right: 45%;
        @include respond(tab-land){
            right: 0;
            left: 0;
            top: 0;
            padding: 0;
            position: relative;            
            transform: translateY(-60%);
        }        
        
    }
    &__description {
        clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 46% 59%, 0% 100%);
        background: white;
        position: fixed;        
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;                
        @include respond(tab-land){
            clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 80% 59%, 0% 100%);
            display: flex;
            align-items: center;
        }
        @include respond(phone){
            clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 71% 59%, 0% 100%);

        }
    }

}
.shadow-wrap {
    filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.4));
}
.particle-container {
    background-color: $color-main-light;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 10%, 0 100%, 100% 100%, 100% 100%);
    z-index: -1;    
}
.highlight {
    color: $color-main-light;
}
.rotated-email{    
    position: fixed;   
    bottom: 1rem;
    right: 0;
    transform: translateX(20%);
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    align-items: center;
    &__email {
        color: $color-default;
        text-decoration: none;
        &:hover {
            color: $color-light-blue-1;
        }
        writing-mode: vertical-rl; 
    }
    @include respond(tab-port){
        display: none;
    }
}
