.portfolio {
    padding-top: 100px;
    background-image: linear-gradient(to bottom, $color-main-light, $color-main-dark);
    width: 100%;
    
}
.project {
    height: 100%;
    &__description {
        font-family: 'Rubik', sans-serif;
        color: inherit;
        font-weight: 300;
        font-size: 1rem;
        @include respond(phone){
            font-size: .9rem;
        }
    }
    &-title {
        color: $color-default;        
    }
    &__links {
        display: flex;
        align-items: center;
        a {
            color: $color-default;
            font-size: 1.1rem;
        }
    }
    &__content {
        border-radius: 10px;
        object-fit: cover;
        height: 120%;
        width: 100%;          
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
        @include respond(tab-port){
            height: 100%;
            width: 55%;
            transform: translate(40%, 5%);
        }
        @include respond(phone){
            width: 90%;
            transform: translate(5%, 5%);
        }
    }
    &__content--2 {
        transform: translateX(-11%);
        z-index: 100000;    
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
    }
    &__tags {
        width: 100%;
        margin-bottom: .2rem !important;
        color:#777;
        font-size: .7rem;
    }
    &-info {
        transform: translateX(-11%) translateY(30px);
        &--reverse {
            transform: translateY(30px);      
            @include respond(tab-port){
                transform: none;
            }      
        }
        @include respond(tab-port){
            transform: none;
        }
    }
    &-info--2{
        transform: translateY(30px);
        z-index: 0;
    }



}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    transition: all .1s linear;
    &:hover {
        opacity: 0;
        z-index:0;
    }
}

.svg-icon--dark {
    fill: $color-main-dark;
}